/* ------------------- */
/* Variables           */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-900: clamp(5rem, 15vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
}



/* ------------------- */
/* Utility classes     */
/* ------------------- */


.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
    --flow-space: .75rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.bg-transparent {
    background: transparent;
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}



/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl(var(--clr-white) / .1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}



.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
}

.primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-right: .5em;
}

.nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    [data-expanded="true"] .primary-navigation {
        transform: translateX(0);
    }

    .primary-navigation.underline-indicators>.active {
        border: 0;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(../assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    [data-expanded="true"] .nav-toggle {
        background-image: url(../assets/shared/icon-close.svg);
    }
}

@media (min-width: 35em) and (max-width: 48.1em) {
    .primary-navigation {
        padding: 0 2rem;
    }

    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 48.1em) {
    .primary-header {
        margin-top: 3rem;
    }

    .primary-navigation {
        padding: 0 7.5vw;
    }

}

.underline-indicators>* {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicators>.active,
.underline-indicators>.selected {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
    --gap: 2rem;
}

.dot-indicators>* {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25);
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
    background-color: hsl(var(--clr-white) / .5);
}

.dot-indicators>.selected {
    background-color: hsl(var(--clr-white) / 1);
}

.number-indicators {
    flex-direction: column;

}

.number-indicators>* {
    aspect-ratio: 1;
    width: 5rem;
    cursor: pointer;
    border: 1px solid hsl(var(--clr-white) / .25);
    border-radius: 50%;
    padding: .5em;
    background: transparent;
    color: hsl(var(--clr-white));
}

.number-indicators>*:hover,
.number-indicators>*:focus {
    border-color: hsl(var(--clr-white));
}

.number-indicators>.selected {
    color: hsl(var(--clr-dark));
    background-color: hsl(var(--clr-white) / 1);
}





/*---------------*/
/*   pages bg    */
/*---------------*/

body {
    background-size: cover;
    background-position: bottom center;
}

/* home */
.home {
    background-image: url(../assets/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
}

@media (min-width: 48.1em) {
    .home {
        background-image: url(../assets/home/background-home-desktop.jpg);
    }
}

/* destination */
.destination {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 48.1em) {
    .destination {
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
}

/* crew */
.crew {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
        background-position: center center;
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 48.1em) {
    .crew {
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
}




/*---------------*/
/* pages layout  */
/*---------------*/

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

.grid-container p {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}

/* destination page */
.grid-container--destination {
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination>img {
    grid-area: image;
    max-width: 60%;
}

.grid-container--destination>.tab-list {
    grid-area: tabs;
}

.grid-container--destination>.destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

/* crew page */
.grid-container--crew {
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--crew>img {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white) / .1);
}

.grid-container--crew>.dot-indicators {
    grid-area: tabs;
}

.grid-container--crew>.crew-info {
    grid-area: content;
}

@media (max-width: 48em) {
    .grid-container--home {
        grid-template-rows: 10vh 1fr 1fr 10vh;
        padding-bottom: 0;
    }

    .grid-container--home>*:first-child {
        grid-row: 2;
        align-self: start;
    }

    .grid-container--home>*:last-child {
        grid-row: 3;
        align-self: end;
    }

}

@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas:
            'title'
            'content'
            'tabs'
            'image';
    }

}

@media (min-width: 48.1em) {
    .grid-container--home {
        grid-template-columns: 7.5% repeat(2, 1fr) 7.5%;
        text-align: left;
    }

    .grid-container--home>*:first-child {
        grid-column: 2;
    }

    .grid-container--home>*:last-child {
        grid-column: 3;
        justify-self: end;
        align-self: end;
    }


    .grid-container--destination {
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination>img {
        max-width: 100%;
    }

    .grid-container--destination>.tab-list,
    .grid-container--destination>.destination-info {
        justify-self: start;
        text-align: left;
        padding-left: 15vw;
    }


    .grid-container--crew {
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. tabs image .';
    }

    .grid-container--crew>img {
        max-width: 100%;
        align-self: end;
    }
}