:root {
  --body-bg: hsl(235, 21%, 11%);
  --todo-bg: hsl(235, 24%, 19%);
  --todo-text: hsl(234, 39%, 85%);
  --todo-text-hover: hsl(236, 33%, 92%);
  --todo-border: hsl(233, 14%, 35%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-secondary: hsl(235, 19%, 35%);
  --text-color-hover: hsl(234, 39%, 85%);
  --text-color-selected: hsl(222, 46%, 55%);
}

body {
  background-color: var(--body-bg);
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-color)
}

.app {
  width: 480px;
  margin: 0 auto;
}

.app header {
  display: grid;
  grid-template-columns: auto 40px;
  grid-template-rows: 40px;
  height: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.todo-input .todo-item {
  border-radius: 5px;
  border: none;
}


.darkmode-switch {
  position: relative;
  cursor: pointer;
}

.darkmode-switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.darkmode-switch .checkbox-icon {
  position: absolute;
  inset: 0;
  background-image: url("../images/icon-sun.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.darkmode-switch input:checked+.checkbox-icon {
  background-image: url("../images/icon-moon.svg");
}


.todo-input {
  margin-bottom: 30px;
}

.todo-list> :first-child {
  border-radius: 5px 5px 0 0;
}

.todo-item {
  width: 100%;
  display: grid;
  grid-template-columns: 13% auto 13%;
  grid-template-rows: 60px;
  background-color: var(--todo-bg);
  border-bottom: 1px solid var(--todo-border);
  color: var(--todo-text);
}

.todo-item.completed {
  color: var(--text-color-secondary);
  text-decoration-line: line-through;
}

.todo-item .delete {
  background-image: url("../images/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  visibility: hidden;
  transition: all 150ms ease-in;
}

.todo-item:hover .delete {
  visibility: visible;
}

.todo-item .checkbox {
  position: relative;
  cursor: pointer;
}

.todo-item .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.todo-item .checkbox-icon {
  position: absolute;
  inset: 20px;
  border: none;
  border-radius: 100%;
  background-clip: padding-box;
  background: var(--todo-border);
}

.todo-item .checkbox-icon:hover {
  background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-item .checkbox-icon:after {
  content: '';
  position: absolute;
  inset: 0;
  margin: 1px;
  border-radius: inherit;
  background: var(--todo-bg);
}

.todo-item .checkbox input:checked+.checkbox-icon:after {
  background: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.todo-item>* {
  background-color: transparent;
  all: unset;
}


.todo-footer {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 50px;

  background-color: var(--todo-bg);
  border-radius: 0 0 5px 5px;

  color: var(--text-color-secondary);
  font-size: 0.8rem;
}

.todo-footer .filter {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  font-weight: 700;
}

.todo-footer * {
  background-color: transparent;
  all: unset;
}

.filter .selected {
  color: var(--text-color-selected);
}

.todo-footer button {
  cursor: pointer;
}

.todo-footer button:hover {
  color: var(--text-color-hover);
}