:root {
  --body-bg: hsl(235, 21%, 11%);
  --todo-bg: hsl(235, 24%, 19%);
  --todo-text: hsl(234, 39%, 85%);
  --todo-text-hover: hsl(236, 33%, 92%);
  --todo-border: hsl(233, 14%, 35%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-secondary: hsl(235, 19%, 35%);
  --text-color-hover: hsl(234, 39%, 85%);
  --text-color-selected: hsl(222, 46%, 55%);
}

body {
  background-color: var(--body-bg);
  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100% 300px;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--text-color)
}