:root{
    --clr-gray:hsl(212, 45%, 89%);
    --clr-grayish-blue:hsl(220, 15%, 55%);
    --clr-dark-blue:hsl(218, 44%, 22%);
}

body{
    background-color: var(--clr-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: outfit;
}
.qr-card{
    width: 300px;
    background-color: #fff;
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0px 0px 40px var(--clr-grayish-blue);
}
.qr-card img{
    max-width: 100%;
    border-radius: 1em;
}

.qr-card h2 {
    color: var(--clr-dark-blue);
    font-weight: 700;
}

.qr-card p {
    color: var(--clr-grayish-blue);
    padding: 0em 1.7em;
    font-size: 15px;
}